.env
env.ini
**/.ipynb_checkpoints/
**/__pycache__/
tests/output/
.vscode/
workarea/
images/person_group1.jpg
images/person_group2.jpg
images/person_group7.jpg
images/person_group12.jpg
images/person_image1.jpg
images/person_image5.jpg
images/person_image6.jpg
images/person_image7.jpg
images/person_image8.jpg
images/person_image12.jpg
images/person_image13.jpg
examples/singlemodel/annotated_video.mp4
examples/basic/annotated_video.mp4
examples/specialized/example_video_annotated.mp4
examples/specialized/Traffic_annotated.mp4
